<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue To Do List</title>
  <script src="https://kit.fontawesome.com/f1f0c66429.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <section>


      <div class="add-task">
        <h1>Aggiungi alla lista qualcosa che devi fare! <i class="fa-solid fa-wand-magic-sparkles"></i></h1>
        <div class="new-task">
          <input type="text" placeholder="Nuova Task" v-model="taskValue" @keyup.enter="addTask()">
          <button @click="addTask()"><i class="fa-solid fa-plus"></i></button>
        </div>
        <small :class="{visible: error}" class="hidden"> Devi inserire almeno 5 caratteri </small>
      </div>


      <div class="tasks-container">
        <ul>
          <li v-for="(todo, index) in todos" :key="index" :class="{ done: todos[index].done}">
              {{todos[index].text}}
              <div class="icons">
                <div class="check">
                  <i class="fa-solid fa-circle-check" @click="invertDone(index)"></i>
                </div>
                <div class="trash">
                  <i class="fa-solid fa-trash-can" @click.stop="removeTask(index) "></i> 
                </div>
              </div>  
          </li>
        </ul>
        <h2 v-if="todos.length === 0">Non ci sono cose da fare <i class="fa-solid fa-handshake"></i></h2>
      </div>
    </section>
  </div>
  
  <script src="./app.js"></script>
</body>
</html>